@model EventApplicationCore.Model.ChangePasswordModel
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div class="container">
    <br />
    <div class="panel panel-default">
        <div class="panel-heading">Change Password</div>
        <div class="panel-body">
            @Html.AntiForgeryToken()
            @if (TempData["MessageUpdate"] != null)
            {
                <p class="alert alert-success" id="successMessage">@TempData["MessageUpdate"]</p>
            }
            @Html.ValidationSummary(true)
            <form method="post" asp-controller="Customer" asp-action="ChangePassword">
                <div class="row">
                    <div class="col-lg-4">
                        <label class="control-label" asp-for="Password">Old Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4">
                        <label class="control-label" asp-for="NewPassword">New Password</label>
                        <input asp-for="NewPassword" type="password" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4">
                        <br />
                        <input id="Submit" type="submit" class="btn btn-primary" value="Change Password" />
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>