<style>
    .center {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: auto;
        margin-top: auto;
    }
</style>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="hero-unit center">
                <h1>Something Went Wrong<small><font face="Tahoma" color="red">Error</font></small></h1>
                <br />
                <p>The page you requested could not be found, either contact your webmaster or try again. Use your browsers <b>Back</b> button to navigate to the page you have prevously come from</p>
                <p><b>Or you could just press this neat little button:</b></p>
                <a href="/login/login" class="btn btn-large btn-info"><i class="icon-home icon-white"></i> Take Me Home</a>
            </div>
            <br />
            <div class="thumbnail">
                <center><h2>Recent Content :</h2></center>
            </div>
            <br />

            @if (ViewData["ErrorMessage"] != null)
            {
                <p class="alert alert-success" id="successMessage">@ViewData["ErrorMessage"]</p>
            }
            <br />
            <p></p>
            <!-- By ConnerT HTML & CSS Enthusiast -->
        </div>
    </div>
</div>
