@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

@if (ViewData["BookingLightingMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">@ViewData["BookingLightingMessage"]</p>
    <h3>Next Process BookFlowers</h3>
    <p>
        @Html.ActionLink("Click Here to Book Flower", "BookFlower", "BookFlower")
    </p>
}

